html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
}

h1 {
  font-size: 3.2rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.4rem;
  margin: 0;
  padding: 0;

}

h3 {
  font-size: 2.0rem;
  margin: 0;
  padding: 0;
  color: #8B8B8B;
}

h4 {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  color: #8B8B8B;
}

p {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

button {
  font-size: 1.4rem;
  color: #FFF;
  background: #000;
  border: none;
  border-radius: .3rem;
  padding: 1.2rem 4.0rem;
}

.red {
  color: #FFF;
  background-color: #BE3345;
}
