html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}

.intro  {
  color: #fff;
}

h1 {
  font-size: 64px;
  font-size: 6.4rem;
  margin: 0;
  font-weight: 900;
}

h2 {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 400;
  margin: 7.2rem 0 0 0;

}

h3 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 100;
  color: #8B8B8B;
  margin: .8rem 0 0 0;
}

p {
  font-weight: 100;
  font-size: 1.6rem;
}

button {
  background: #3023AE;
  font-size: 1.4rem;
  font-weight: 600;
  color: #FFF;
  border: none;
  border-radius: .3rem;
  padding: 1.2rem 4.0rem;
  margin-bottom: 4.8rem;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(74,46,144,0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(74,46,144,0.5);
  box-shadow: 0px 2px 4px 0px rgba(74,46,144,0.5);
}

#about {
  background: url('../img/bg.png');
  background-size: cover;
}


nav ul {
  float: right;
  margin-top: 6.4rem;

}

nav, li {
  display: inline;
  padding: 0px 24px 0px 10px;
  font-size: 1.6rem;
  color: #fff;
}

nav, a {
  color: #fff;
}

.project a {
  color: #3023AE;
  font-weight: 400;
}

#summary {
  max-width: 48rem;
}

#summary {
  margin-bottom: 2.8rem;
}

.descriptor {
  font-style: italic;
  color: rgba(255,255,255,.7);
  margin: 0;
}

.job {
  margin-bottom: 5.6rem;
}

.job p {
  margin-bottom: 0;
}

#pagination {
  background-color: #3023AE;
}

#pagination p {
  padding: 3.2rem;
  color: #FFF;
}


.project img {
  text-align: center;
  padding: 8.0rem;
  width: 100%;

}
.preview img {
  background-color: #FAFAFA;
}

.zebra img {
  background-color: #F3F3F3;
}


.description {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  background-color: white;
}

.project .row  {
  border-bottom: 1pt solid #FAFAFA;
}
